@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-active {
  animation: fadeInFromNone 1.4s ease-out;
}

@keyframes fadeInFromNone {
  15% {
    opacity: 0.5;
  }

  55% {
    opacity: 1;
  }

  85% {
    opacity: 0;
  }
}
